@charset "UTF-8";
.main {
  margin-top: 30px;
}

.sorted:after {
  content: " ▼";
  font-size: 14px;
}

.clickable:hover {
  cursor: pointer;
}

.img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}